<h1><%= link_to list_item.item.name, list_item_path(list_item) %></h2>
<div id="body-<%= list_item.id %>"><%= truncate list_item.details %></div>

<button class="js-more" data-id="<%= list_item.id %>">More...</button>
