
<h1> This is my wish list </h1>

<br>

  <% @list.items.each do |item| %>
    <h2><%= item.name %></h2>
  <% end %>

Add Items
<%= form_for([@list, @item]) do |f| %>
    <%= f.text_field :name %>
    <%= f.submit style: "display: none" %>
<% end %>
