
<h1> This is my wish list </h1>

<br>

<% @list.items.each do |item| %>
  <%= item.name %>
<% end %>

<h2> Add Items </h2>
<%= form_for([@list, @item]) do |f| %>
    <%= f.text_field :name %>
    <%= f.submit style: "display: none" %>
<% end %>
