<h1>Search for your friends!</h1>

<form>
  <input id="search" type="text" name="search" placeholder="Search..">
</form>

<% if @users.present? %>
<% @users.each do |user| %>
    <% unless user == current_user %>
    <p><%= link_to "#{user.username}", "/lists/#{user.id}" %></p>
    <% end %>
  <% end %>
<% else %>
 <p>There is no one by the name of <%= params[:search] %>. Try again!</p>
<% end %>
