<br>
<h1><%= "#{@list_item.item.name}" %></h1>

<br>
<h2> The deets </h2>
<h3><%= @list_item.details %></h3>

<% if current_user.list.id  == @list_item.list_id %>
<h3> <%= link_to "Add details", edit_list_list_item_path(@list) %> </h3>
<h3> <%= link_to "Back to my Wish List", list_path(@list) %> </h3>
<% end %>
