/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

http://colorzilla.com/gradient-editor/#cccccc+0,0e0e0e+100

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  background-color: #f4f7f7;

    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.background_image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("gift.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
    width: 1140px;
    margin: 20px auto 0 auto;
    padding-left: 25px
}

.container a {
    text-decoration: none;
    color: #555;
}

.hidden {
	display: none;
}

input {
  outline: none;
  border-radius: 3px;
  border: none;
  padding: 5px;
}

.welcome h1 {
	position: absolute;
  padding: 60px;
	width: 100%;
	font-size: 100px;
	font-weight: 100;
	text-align: left;
	color: white;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

.log-box {
  padding: 40px;
  color: #f4f7f7;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 100;
}

.log-box a {
  color: #f4f7f7;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 100;
}

.log-box .actions p input {
  border-radius: 8px;
  background-color: #1f4e5f;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 5px;
  width: 175px;
  transition: all 0.5s;
  margin: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 100;
  font-size: 85%;
}

.alert {
  color: red;
}

button {
  border-radius: 8px;
  background-color: #79a8a9;
  border: none;
  color: white;
  text-align: center;
  padding: 5px;
  width: 175px;
  transition: all 0.5s;
  margin: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 100;
  font-size: 85%;
  cursor: pointer;
}

a {
  cursor: pointer;
}

textarea {
	width: 600px;
	height: 75px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}

.main {
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
}

#li-details {
  width: 600px;
}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 30%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.footer {
	color: #777;
	padding: 10px 15px;
	height: 20px;
	text-align: center;
	border-top: 1px solid #e6e6e6;
}
