<h1>  </h1>

<h2> Gifts to give</h2>

<table>
  <% if @user.selections %>
  <tr>
    <th> Gift Description </th>
    <th> Recipient </th>
  </tr>
  <% end %>
  <% @user.selections.each do |selection| %>
  <tr>
    <td><%= selection.list_item.item.name %></td>
    <td><%= selection.list_item.list.user.username %></td>
  <% end %>
</table>
<br>
