<h1>  </h1>

<h2> Gifts to give</h2>

<table>
  <% if !@user.selections.empty? %>
  <tr>
    <th> Gift Description </th>
    <th> Recipient </th>
  </tr>
  <% end %>
  <% @user.selections.each do |selection| %>
  <tr>
      <% item = selection.list_item.item %>
    <td><%= link_to "#{item.name}", selection_item_path(selection, item) %></td>
    <td><%= selection.list_item.list.user.username %></td>
  <% end %>
</table>
<br>
