<h1>  </h1>

<h2> Gifts to give</h2>

<table>
  <% if !@selections.empty? %>
    <tr>
      <th> Gift Description </th>
      <th> Recipient </th>
      <th> Purchased </th>
    </tr>


      <% @selections.each do |selection| %>
      <%= form_tag (selection) do %>
        <tr>
            <% item = selection.list_item.item %>
          <td><%= link_to "#{item.name}", selection_list_item_path(selection, item) %></td>
          <td><%= link_to "#{selection.wishlist_owner.username}", list_path(selection.list_item.list) %></td>
          <td><a href='#'>Delete from Selection list </a></td>

          <td><%= submit_tag 'Found!' %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
