<h1>  </h1>

<h2> Gifts to give and where to find them:</h2>

<ul> <h3> Store 1</h3>
  <li>(Wishlist item for recipient 1)</li>
  <li>(Wishlist item for recipient 2)</li>
</ul>
<br>

<ul> <h3> Store 2</h3>
  <li>(Wishlist item for recipient 1)</li>
  <li>(Wishlist item for recipient 3)</li>
</ul>
<br>

<a href='#'>Find more friends to shop for </a> <br>

<a href='#'>Your Wish List </a>
