<h1> Welcome </h1>

Gifts to give and where to find them:

current_user.gifts
Store 1
(Wishlist item for user)
(Wishlist item for user)

Store 2
(Wishlist item for user)

<a href='#'>Find more friends to shop for </a>

<a href='#'>Your wishlist </a>
